<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>RailsVue3</title>

    <meta name="description" content="Ruby on Rails template for using Vue.js 3">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="RailsVue3">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="RailsVue3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="#cc0000">

    <meta name="git-commit-sha" content="<%= Rails.configuration.x.git.commit_sha %>">
    <meta name="git-commit-time" content="<%= Rails.configuration.x.git.commit_time %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <link rel="manifest" href="/manifest.webmanifest">

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body>
    <noscript>
      <p>This website doesn't work without JavaScript enabled. Please enable it to continue.</p>
    </noscript>

    <%= yield %>
  </body>
</html>
