<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Templatus</title>

    <meta name="description" content="Ruby on Rails template for using Vue.js 3">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Templatus">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Templatus">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="git-commit-sha" content="<%= Rails.configuration.x.git.commit_sha %>">
    <meta name="git-commit-time" content="<%= Rails.configuration.x.git.commit_time %>">

    <meta name="sentry-dsn" content="<%= Rails.configuration.x.sentry.dsn %>">
    <meta name="webpack-public-path" content="<%= Rails.configuration.action_controller.asset_host %>/<%= Webpacker.config.public_output_path.basename %>/">

    <% cache do %>
      <% versions.each do |name, version| %>
        <%= tag.meta name: "version-#{name}", content: version %>
      <% end %>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= favicon_pack_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
    <%= favicon_pack_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_pack_tag 'favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>

    <link rel="manifest" href="/manifest.webmanifest">

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body>
    <noscript>
      <p>This website doesn't work without JavaScript enabled. Please enable it to continue.</p>
    </noscript>

    <%= yield %>
  </body>
</html>
